/*‘Ï–Õ“™Àÿ*/
.shape-up{width:800px;position:relative;top:20px;}
.shape-up .shapedisc{position:relative;margin-top:10px;}
.shape-up .linedisc{position:relative;margin-top:10px;}
.color-down{width:800px;position:relative;top:20px;}
.color-down .colordisc{position:relative;margin-top:10px;}
.color-down .colorprop{position:relative;margin-top:10px;}


