body{margin:0 auto;width:1038px;}

/*login.jsp*/
.login{height:480px;width:1038px;margin:20 auto;background-color:grey;}
.login .ltitle{width:1018px;height:100px;float:left;color:orange;text-align:left;padding-left: 20px;}
.login .left{height:250px;width:300px;float:left;margin-left:20px;}
.login .right{height:330px;width:380px;float:right;border:1px solid #FF6600;background-color: white;margin-right:20px;}
.login .right .up{margin-top:40px;height:100px;width:300px;}
.login .right .up span{float:left;font-family: "宋体";font-size: 10px;font-style: normal;}
.login .right .up input{display:block;margin-bottom:15px;}
.login .right .down{margin-top:20px;height:100px;width:300px;}
.login .right .down img{display:block;margin-bottom:15px;}
.login .right .down input{display:block;margin-bottom:15px;}

/* head.jsp*/
.top {height: 140px;width: 1038px;margin: 0 auto;}
.title{background-image:url(../images/title.jpg);height:60px;width:100%;}
.title span{font-family: "宋体";font-size: 10px;font-style: normal;color:black;position:relative;left:850px;top:20px;}
.title span a{color:black;}
.search{height:80px;width:100%;background-color:#E2E2E2;}
.type{font-family:"宋体";font-size:24px;position:relative;left:30px;top:30px;}
.searchBox{font-family:"宋体";font-size:15px;width:400px;height:25px;position:relative;left:100px;top:30px;}
.searchSummit{background-image:url(../images/search.jpg);width:68px;height:29px;margin-left:660px;cursor:pointer;}

/*tail.jsp*/
.tail{height: 60px;width: 1038px;;margin: 0 auto; background-color:#E2E2E2;background-image:url(../images/tail.jpg);}

/*index.jsp*/
.content{width:1038px;height:580px;margin:0 auto; }
.content-left{height:580px;float:left;background-color:white;}
.content-left .ltitle{width:202px;height:32px;position:relative;left:30px;	}
.content-left-up{width:200px;height:250px;border:1px solid;overflow-y:scroll; overflow-x:scroll;}
.content-left-down{width:200px;height:270px;border:1px solid;overflow-y:scroll; overflow-x:scroll;}

.content-middle{height:580px;width:550px;float:left;margin-left:22px;}
.content-middle .ctitle{width:550px;height:30px;background-color:white;}

.content-right{height:580px;width:240px;float:right;background-color:white;}
.content-right .rtitle{height:25px;width:135px;position:relative;left:50px;margin-bottom:5px;}
.content-right .news{width:135px;height:200px;font-family:"宋体";font-size: 10px;font-style: normal;border:1px solid #E9D0D0; margin-bottom:50px;position:relative;left:50px;}
.content-right .link{width:135px;height:200px;padding-left:10px;position:relative;left:50px;}

/*display.jsp*/
.display{width:1038px;height:1045px;margin:0 auto; }
.display .left{width:215px;height:1045px;float:left;background-color:white;text-align: center;}
.display .left .up{width:215px;height:520px;}
.display .left .down{width:215px;height:520px;}
.display .left .dltitle{width:215px;height:32px;}
.display .left .dcontent{width:215px;}
.display .left .dcontent ul{text-align: -webkit-center;}
.display .left .dcontent li{width:110px;}

.display .right{width:800px;height:1045px;float:left;margin-left:22px;}
.display .right .up{background-color: white;width:800px;height:500px;float:left;}
.display .right .rtitle{width:350px;font-family:"宋体";font-size:18px;font-style: normal;color:#FFAA01;padding-top:10px;}
.display .right .up .picinfo{width:350px;height:470px;float:left;}
.display .right .up .picinfo .picbutton{width:352px;height:39px;float:left;}
.display .right .up .picinfo .buttonimg{width:175px;height:39px;float:left;cursor:pointer;}
#collect {text-align:right;}
#delcollect{text-align:right;}
.display .right .up .wordinfo{height:470px;float:right;margin-left:20px;}
.display .right .up .biaoyin{height:100px;margin-top:120px;margin-left:20px;}
.display .right .up table{width:400px;border:0;color:black;border-collapse:separate;border-spacing:10px 10px;}
.display .right .up table td{font-family:"宋体";font-size: 16px;font-style: normal;}
.display .right .up .tdpro1{width:25%;}
.display .right .up .tdval1{width:75%;}
.display .right .up hr{position:relative;top:30px;width:400px;height:5px;border:none;border-top:5px ridge orange;}
#dynamicinfo {position:relative;top:30px;}

.display .right .down{background-color: white;width:800px;height:525px;margin-top:20px;float:left;}
.display .right .down ul{list-style-type:none;margin:0;padding:0;}
.display .right .down ul li{float:left;}
.display .right .down ul li a:link,a:visited{display:block;width:191px;font-weight:bold;font-size:15px;background-color:#bebebe;text-align:center;padding:4px;text-decoration:none;text-transform:uppercase;}
.display .right .down ul li a:hover,a:active{background-color:#FFAA01;}
.display .right .down iframe{height:500px;width:800px;float:left;}
.display .right .down .property{height:500px;width:800px;background-color: white;}
.display .right .down .property .element{width:780px;position:relative;top:20px;}
.display .right .down .property .element .eledisc{position:relative;margin-top:10px;}
.display .right .down .property h1{font-weight:bold;font-size:25px;color:#FFAA01;}
.display .right .down .property h4{font-weight:bold;font-size:18px;color:black;}
.display .right .down .property hr{position:relative;top:30px;width:780px;height:20px;border:none;border-top:5px ridge orange;}
.display .right .down p{font-family:"宋体";font-size: 16px;font-style: normal;color:black;}

/*classification.jsp*/
.classification{width:1038px;height:680px;margin:0 auto; }
.classification .left{height:680px;float:left;background-color:white;}
.classification .left .dltitle{width:202px;height:32px;position:relative;left:30px;	}
.classification .left .dcontent{width:200px;height:646px;border:1px solid;}
.classification .left .dcontent li{position:relative;left:50px;	width:110px;}

.classification .right{width:812px;height:680px;margin-left:22px;float:left;}
.classification .right .select{width:812px;background-color:white;}
.classification .right .stitle{width:812px;background-color: white;border-style:solid;border-color:#ddd;margin-bottom:20px;}
.classification .right .stitle span{line-height:25px;font-size:20px;display:block;color:#FFAA01;position:relative;left:20px;}
.classification .right .scon{width:812px;background-color: white;overflow:hidden;margin-bottom:10px;cursor:pointer;}
.classification .right .scon .skey{width:100px;height:20px;font-weight:bold;float:left;margin-left:20px;margin-right:20px;}
.classification .right .scon .svalue{width:550px;height:20px; float:left; }
.classification .right .scon .more{width:550px;float:left;height:90px; overflow:hidden;}
.classification .right .scon .svalue .elem{width:70px;height:20px;float:left;margin-left:5px;text-align:center;}
.classification .right .scon .svalue .elem span{color:#FFAA01;text-decoration:underline;}
.classification .right .scon .svalue .elmore{width:110px;} 
.classification .right .scon .soption{width:65px;height:20px;float:right;color:green;cursor:pointer;}
.classification .right .scon .soption ul{list-style-type:none;margin:0;padding:0;overflow:hidden;}
.classification .right .scon .soption ul li{width:30px;height:20px;float:left;}
.classification .right .scon .soption ul li a{color:green;}

.classification .right .showpic{width:812px;height:350px;background-color: white;overflow:hidden;}
.classification .right .showpic .piccon{width:780px;height:140px;overflow:hidden;margin-bottom:10px;margin-left:20px;margin-top:20px;}
.classification .right .showpic .piccon .pvalue{width:193px;height:140px;float:left;text-align:center;}
.classification .right .showpic .piccon .pvalue img{width:150px;height:120px;}
.classification .right .showpic .piccon .pvalue p{width:150px;height:15px;margin-left:20px;}

.classification .right .fengye{width:812px;height:100px;background-color: white;border:1px solid #F00;overflow:hidden;margin:0 auto;}
#div_pager{clear:both;height:30px;line-height:30px;margin-top:20px;color:#999999;}
#div_pager a{padding:4px 8px;margin:10px 3px;font-size:12px;border:1px solid #DFDFDF;background-color:#FFF;color:#9d9d9d;text-decoration:none;}
#div_pager span{padding:4px 8px;margin:10px 3px;font-size:14px;}
#div_pager span.disabled{padding:4px 8px;margin:10px 3px;font-size:12px;border:1px solid #DFDFDF;background-color:#FFF;color:#DFDFDF;}
#div_pager span.curr{padding:4px 8px;margin:10px 3px;font-size:12px;border:1px solid #FF6600;background-color:#FF6600;color:#FFF;}
#div_pager a:hover{background-color:#FFEEE5;border:1px solid #FF6600;}
#div_pager span.normalsize{font-size:12px;}
